<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.training.sanity.tests.LoginTests"/>
      <class name="com.training.sanity.tests.GenericLoginTest"/>
      <class name="com.training.sanity.tests.AdminLoginTest"/>
      <class name="com.training.sanity.tests.SecondCategories"/>
      <class name="com.training.sanity.tests.ThirdCheckboxDelete"/>
      <class name="com.training.sanity.tests.ProductLink"/>
      <class name="com.training.sanity.tests.FourFilterProducts"/>
      <class name="com.training.sanity.tests.FiveDeleteProduct"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
